html,body,head,header,section,footer,main,title,div,label,input,h3,a,span
{
	margin : 0px;
	padding : 0px;
}

a
{
	text-decoration : none;
}

#secLogin
{
	height : 280px;
	width : 400px;
	margin : 8% 0 0 35%;
	border : 1px solid;
	border-color : gray;
	border-radius : 3px;
	box-shadow : 5px 5px 5px gray;
}

#hdrLoginPanel
{
	height : 30px;
	padding : 8px 0px 0px 15px;
	text-align : left;
	color : #FFF;
	background-color : #829aa8;
	text-shadow : 2px 5px 0px rgba(0,0,0,0.5);
}

#bdyLogin
{
	margin : 30px 25px 0px 25px;
}

.inner_section
{
	margin : 10px 10px 20px 0px;
}

.label_class
{
	font-weight : bold;
	font-size : 15px;
	color : #424242;
}

.textbox_class
{
	height : 30px;
	width : 100%;
	margin : 3px 0px 0px 0px;
	padding : 1px 0px 1px 8px;
	display : block;
	border : 1px solid gray;
	border-radius : 3px;
}

.btn_class
{
	height : 30px;
	width : 70px;
	border : 1px solid #424242;
	border-radius : 2px;
	text-align : center;
	box-shadow : 3px 2px 0px rgba(0,0,0,0.5);
}